
header{
    background-color: #010409;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: end;
    img{
        width: 150px;
        margin-left: 400px;
    }
    select{
        margin-bottom: 20px;
        height: 33px;
        width: 150px;
        border: 2px solid rgb(216, 215, 215);
        border-radius: 20px;
        padding: 5px;
        font-family: 'montserrat';
        outline: none;
        
        
    }

}
#btn-search{
    background-color: #010409;
}

.home{
   
    background-color: #161B22;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    width: 600px;
   
    h1{
        font-size: 20px;
        padding-bottom: 20px;
        color: #fff;
    }
    p{
        font-size: 18px;
        padding-bottom: 20px;
        color: #fff;
    }
}

input{
    width: 300px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid rgb(216, 215, 215);
    outline: none;
}:focus{
    border: 2px solid #388BFD;
    
}
button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border:none;
    background-color:#388BFD;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    opacity: 0.8;
}:hover{
    opacity: 1;
}

footer{
    background-color:#010409;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 11px;
        span{
            font-weight: bold;
            color: #388BFD;
        }
    }
}

@media (max-width: 490px){
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
      
        img{
            width: 90px;
            margin-left: 30px;
            padding-right: 30px;
        }
        select{
            margin-bottom: 0px;
            height: 33px;
            width: 200px;
            border: 2px solid rgb(216, 215, 215);
            border-radius: 20px;
            padding: 5px;
            font-family: 'montserrat';
            outline: none;
            
        }
    
    }

    .home{
        margin-top: 10px;
        width: 80%;
        flex-direction: column;
        border: none;
        h1{
            font-size: 19px;
        }
        p{
            font-size: 15px;
        }
    }
    input{
        width: 100%;
        margin-bottom: 15px;
    }
    button{
        width: 70%;
    }

}